.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  > .branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: #8a3aa5;

    > .link {
      > .logo {
        width: 64px;
        height: 64px;
        cursor: pointer;
      }
    }

    > .logo__name {
      font-weight: bold;
      text-transform: uppercase;
    }

    > .slogan {
      width: 20ch;
      text-align: center;
      font-weight: 400;
    }
  }

  > .form {
    display: flex;
    flex-direction: column;

    > .title {
      font-weight: bold;
      font-size: 1.5rem;
      color: #8a3aa6;
      margin-bottom: 12px;
    }

    > .input__group {
      display: flex;
      flex-direction: column;
      gap: 4px;

      > .email, .password {
        border: none;
        border-bottom: 1px solid #383838;
        padding: 4px;
        font-size: 16px;
        outline: none;
        transition: border-bottom-color 0.3s ease;

        &:focus {
          border-bottom: 2px solid #ad5cb7;
        }
      }
    }

    > .btn {
      cursor: pointer;

      &__submit {
        background-color: #ab5ab6;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-top: 12px;

        &:disabled {
          opacity: .6;
          cursor: not-allowed;
        }

        &:active {
          background-color: #8a3d8c;
        }
      }
    }

    > .link {
      color: #007bff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;
      margin-top: 6px;

      &:hover {
        color: #0056b3;
      }
    }
  }
}
